body {
    padding: 20px;
}

#router {
    height: 70px;
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}

#router .btn.active {
    background: #28a745;
}

.rtl {
    direction: rtl;
}

#left-col {
    float: left;
    width: 45%;
}

#right-col {
    float: right;
    width: 45%;
}

.btn, .form-control {
    border-radius: 0;
}

#connections {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}